@{ ViewData["Title"] = "Home"; }

<div class="text-left">
    <h1 class="display-4"><i class="fas fa-robot"></i>  @AppSettings.Title</h1>
    <br />
    <h3>History of Robotics Technology</h3>
    <br />
    <p>
        The robot will be portrayed for the first time in Rossum's Karel, written in 1920. By definition, it can benefit from an autonomous or scheduled program. Although it entered our lives during the 20th year, the history of robots goes back much further.
        Because the common purpose of all robots from the past to the present is to reduce the workload of people and even to enable them to work for them. It is accepted that the scholar from Cizeri, known as Al-Jazari, took the first steps of cybernetics in the 12th century and built the first robot and ran it. Examples of the robots he built are automatic watches, machines for performing ablutions or serving catering.

        It is a known fact that Leonardo da Vinci was influenced by the works of de Al-Jazari and even brought and read some of his books privately. In addition to being a da Vinci painter, he was considered one of the most important engineers of his time. He was a true engineer with his designs that formed the basis of new generation cannons, helicopters and submarine technology. The walking lion can be given as an example to his work in the field of robotics.
    </p>
    <br />
    <h3>Robot in space: Mars Perseverance</h3>
    <br />
    <p>
        In the future, Mars may be a new home for humanity. But today, only robots live on this planet. Perseverance, the indispensable robot of Nasa's active mission, is a complete technological marvel. It has sensors, drills, sample collection tools, and even the Ingenuity Drone.

        Ingenuity was the first man-made device to try to fly in the thin atmosphere of Mars. The technology that Ingenuity is testing has the potential to take us to places even the biggest wheeled rovers can't imagine.
    </p>
    <br />
    <h3>Boston Dynamics' Robot Dog "Spot"</h3>
    <br />
    <p>
        You might like the idea of ​​hiring a robot butler and having him do the cooking and cleaning. Maybe you can get Spot as your robot dog for $74.5k and go for a beach run together. But Spot can do much more than that. It can help us in mines, construction sites, disasters such as earthquakes and floods. For example, after an earthquake, he can pass through an area so narrow that people cannot pass, by tying the oxygen tube to his back. If it's under your column, it can get under the column and raise it to free a trapped victim. In short, Spot, which is open to development, can do much more.
    </p>
    <br />
    <h3>Atlas from Boston Dynamics</h3>
    <br />
    <p>
        We talked about Boston Dynamics' robot dog Spot. However, Atlas is the most dynamic humanoid robot in the world with much more advanced features. Just like Spot, thanks to its pre-coded systems, Atlas's capabilities are limited only to your wishes.

        He can run, jump, somersault in the air and even win the Ninja Warrior competition for you if you let him. It can help in many ways from disaster response teams to soldiers fighting on the front. Maybe in the future they could even mine asteroids in space for us.
    </p>
    <br />
    <h3>Xenobots</h3>
    <br />
    <p>
        Meet the smallest robot on our list, it's called Xenobot. Don't let their size fool you, these little robots can do more important things than the other ones we've introduced. When the technology of Xenobots, living, programmable organisms, is sufficiently advanced, its impact on the human body and medicine could rewrite history.

        Because Xenobots are organic cells, they are not pollutants or toxins. When they do their job with care and consume their available nutrients, they biodegrade in the environment, like all living cells. They are created by computers to perform certain functions. Individually they can complete simple tasks, but the true potential of Xenobots is their ability to collaborate with each other to perform more complex tasks.
    </p>
    <br />
    <h3>Vicarious Medical Robot</h3>
    <br />
    <p>
        According to Allied Market Research, the robotic surgery market is worth approximately $90 billion. The health sector has been trying to integrate technology into the system since the beginning of the 21st century. Until today, virtual reality and robotic technologies were always at the bottom of the list. However, as technology developed, the interest in these markets increased with a great acceleration.

        One of the companies investing in this field is Vicarious Surgical, backed by Bill Gates. The company's biggest mission is to combine humanoid robots with virtual reality technology to raise a novice doctor to the level of an expert even in the most difficult surgical operations. Another door opened by this technology is to develop robots that can perform a completely autonomous or pre-programmed surgery under doctor control. Undoubtedly, this technology stinks of the future.
    </p>
    <br />
    <h3>Guardian XO Skeleton</h3>
    <br />
    <p>
        I'm sure some of you have watched Matt Damon's Elysium or Marvel's Iron Man series. If you want to buy a superhero costume of your own, you should take a look at Sarcos Robotics.

        This device may not be able to emit laser beams from your hand and make you fly in the sky. However, it gives you superhuman powers until the battery dies. This wearable outfit, which can increase your power up to 20 times, has many buyers from industry to military. The annual cost of owning these superhero powers starts at $100,000.
    </p>
</div>